<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css"  href="css/bootstrap.css"th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" href="css/base.css" th:href="@{/css/base.css}">
</head>
<body>
<div th:include="header :: header"></div>
<div class="main w clearfix">
    <div class="main-left">
        <div class="share">
            <div class="share-left"><span></span>&nbsp;分享与提问</div>
            <div class="share-right">
                <a href="toPublish.do"><span class="glyphicon glyphicon-pencil"></span>&nbsp;我要发布</a>
            </div>
        </div>
        <div class="post">
            <div class="post-wrap">
                <div class="post-choice">
                    <a href="#" class="post-choice-current">最近</a>
                    <a href="#">最热</a>
                    <a href="#" class="post-choice-last">精华</a>
                </div>

                <!--/*@thymesVar id="pageBean" type="org.springframework.data.domain.Page"*/-->
                <ul class="post-list" th:each="post:${pageBean.content}">
                    <li class="clearfix">
                        <div class="post-image">
                            <!--/*@thymesVar id="post" type="com.njs.webdiary.entity.PostEntity"*/-->
                            <a href="toProfile.do?uid=${post.userByUid.uid}" th:href="@{'/toProfile.do?uid='+${post.userByUid.uid}}"><img src="${post.userByUid.headUrl}"></a>
                        </div>
                        <div class="post-content">
                            <div class="post-title"><a href="toPost.do?pid=${post.pid}">${post.title}</a></div>
                            <div class="post-other">
                                <div class="post-other-left">
                                    <span class="post-username"><a href="toProfile.do?uid=${post.userByUid.uid}">${post.userByUid.username}</a></span>
                                    <span>&nbsp;发表</span>
                                    <span class="post-time">&nbsp;${post.publishTime}</span>
                                    <span>&nbsp;最后回复&nbsp;</span>
                                    <span class="post-reply-time">${post.replyTime}</span>
                                </div>
                                <div class="post-other-right">
                                    <span class="post-reply-count">回复 ${post.replyCount}</span>&nbsp;
                                    <span class="post-like-count">赞 ${post.likeCount}</span>&nbsp;
                                    <span class="post-scan-count">浏览 ${post.scanCount}</span>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>

                <%--分页导航--%>
                E:\it\redis
                <nav class="col-md-10 col-md-offset-2">
                    <!-- 处理页数大于7 的情况 -->
                    <ul class="pagination pagination-sm" data-th-if="${page.totalPages gt 7}" >
                        <!-- 上一页 -->
                        <li class="page-item" data-th-classappend="*{first} ? 'disabled' : ''">
                            <a href="javascript:void(0);" class="page-link" data-th-attr="pageIndex=${page.number} - 1" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>

                        <!-- 首页 -->
                        <li class="page-item" data-th-classappend="${(page.number + 1) eq 1} ? 'active' : ''" >
                            <a href="javascript:void(0);" class="page-link" data-th-attr="pageIndex=0">1</a>
                        </li>


                        <!-- 当前页面小于等于4 -->
                        <li class="page-item" data-th-if="${(page.number + 1) le 4}" data-th-each="i : ${#numbers.sequence(2,5)}"
                            data-th-classappend="${(page.number + 1) eq i} ? 'active' : ''" >
                            <a class="page-link" href="javascript:void(0);" data-th-attr="pageIndex=${i} - 1">
                                <span data-th-text="${i}"></span>
                            </a>
                        </li>

                        <li class="page-item disabled" data-th-if="${(page.number + 1) le 4}">
                            <a href="javascript:void(0);" class="page-link">
                                <span aria-hidden="true">...</span>
                            </a>
                        </li>

                        <!-- 最后一页与当前页面之差，小于等于3 -->
                        <li class="page-item disabled" data-th-if="${(page.totalPages-(page.number + 1)) le 3}">
                            <a href="javascript:void(0);" class="page-link">
                                <span aria-hidden="true">...</span>
                            </a>
                        </li>
                        <li class="page-item" data-th-if="${(page.totalPages-(page.number + 1)) le 3}" data-th-each="i : ${#numbers.sequence(page.totalPages-4, page.totalPages-1)}"
                            data-th-classappend="${(page.number + 1) eq i} ? 'active' : ''" >
                            <a class="page-link" href="javascript:void(0);" data-th-attr="pageIndex=${i} - 1">
                                <span data-th-text="${i}"></span>
                            </a>
                        </li>

                        <!-- 最后一页与当前页面之差大于3，且  当前页面大于4-->

                        <li class="page-item disabled" data-th-if="${((page.number + 1) gt 4) && ((page.totalPages-(page.number + 1)) gt 3 )}">
                            <a href="javascript:void(0);" class="page-link">
                                <span aria-hidden="true">...</span>
                            </a>
                        </li>
                        <li class="page-item" data-th-if="${((page.number + 1) gt 4) && ((page.totalPages-(page.number + 1)) gt 3 )}" >
                            <a href="javascript:void(0);" class="page-link" data-th-attr="pageIndex=${page.number}">[[${page.number}]]</a>
                        </li>
                        <li class="page-item active" data-th-if="${((page.number + 1) gt 4) && ((page.totalPages-(page.number + 1)) gt 3 )}">
                            <a href="javascript:void(0);" class="page-link" data-th-attr="pageIndex=${page.number} + 1">[[${page.number + 1}]]</a>
                        </li>
                        <li class="page-item" data-th-if="${((page.number + 1) gt 4) && ((page.totalPages-(page.number + 1)) gt 3 )}">
                            <a href="javascript:void(0);" class="page-link" data-th-attr="pageIndex=${page.number} + 2">[[${page.number + 2}]]</a>
                        </li>

                        <li class="page-item disabled"  data-th-if="${((page.number + 1) gt 4) && ((page.totalPages-(page.number + 1)) gt 3 )}">
                            <a href="javascript:void(0);" class="page-link">
                                <span aria-hidden="true">...</span>
                            </a>
                        </li>

                        <!-- 最后一页 -->
                        <li class="page-item" data-th-classappend="${(page.number + 1) eq page.totalPages} ? 'active' : ''" >
                            <a href="javascript:void(0);" class="page-link" data-th-attr="pageIndex=${page.totalPages} - 1">[[${page.totalPages}]]</a>
                        </li>

                        <!-- 下一页 -->
                        <li class="page-item" data-th-classappend="*{last} ? 'disabled' : ''">
                            <a href="javascript:void(0);" class="page-link" data-th-attr="pageIndex=${page.number} + 1" aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="pagination pagination-sm">
                        <%--首页--%>
                        <li><a href="listPostByTime.do?curPage=1">首页</a></li>
                        <%--上一页--%>
                        <li th:if="${!pageBean.isFirst()}"><a href="listPostByTime.do?curPage=${pageBean.curPage-1 }" th:href="@{'/listPostByTime.do?curPage='+${pageBean.number - 1 }}"><span>&laquo;</span></a></li>
                        <li th:if="${pageBean.isFirst()}"><span>&laquo;</span></li>
                        <%--中间部分--%>
                            <c:when test="${pageBean.allPage<=10 }">
                                <c:forEach begin="1" end="${ pageBean.allPage}" var="i">
                                    <li class="pageNum"><a href="listPostByTime.do?curPage=${i }">${i }</a></li>
                                </c:forEach>
                            </c:when>
                            <c:when test="${pageBean.curPage<=5 }">
                                <c:forEach begin="1" end="10" var="i">
                                    <li class="pageNum"><a href="listPostByTime.do?curPage=${i }">${i }</a></li>
                                </c:forEach>
                            </c:when>
                            <c:when test="${pageBean.allPage-pageBean.curPage<5 }">
                                <c:forEach begin="${pageBean.allPage-9 }" end="${ pageBean.allPage}" var="i">
                                    <li class="pageNum"><a href="listPostByTime.do?curPage=${i }">${i }</a></li>
                                </c:forEach>
                            </c:when>
                            <c:otherwise>
                                <c:forEach begin="${pageBean.curPage-4 }" end="${ pageBean.curPage+5}" var="i">
                                    <li class="pageNum"><a href="listPostByTime.do?curPage=${i }">${i }</a></li>
                                </c:forEach>
                            </c:otherwise>
                        </c:choose>
                        <%--下一页--%>
                        <c:choose>
                            <c:when test="${pageBean.curPage!=pageBean.allPage }">
                                <li><a href="listPostByTime.do?curPage=${pageBean.curPage+1 }"><span>&raquo;</span></a></li>
                            </c:when>
                            <c:otherwise>
                                <li><span>&raquo;</span></li>
                            </c:otherwise>
                        <%--尾页--%>
                        <li><a href="listPostByTime.do?curPage=${pageBean.allPage}">尾页</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
    <div class="main-right">

        <div class="hot-user">
            <div class="clearfix"><div class="hot-user-title"><span></span>&nbsp;近期活跃用户</div></div>
            <ul class="hot-user-list">
                <c:forEach items="${hotUserList}" var="user">
                    <li class="clearfix">
                        <a href="toProfile.do?uid=${user.uid}" class="hot-user-image"><img src="${user.headUrl}"></a>
                        <a href="toProfile.do?uid=${user.uid}" class="hot-user-name">${user.username}</a>
                    </li>
                </c:forEach>
            </ul>
        </div>

        <div class="hot-user">
            <div class="clearfix"><div class="hot-user-title"><span></span>&nbsp;近期加入用户</div></div>
            <ul class="hot-user-list">
                <c:forEach items="${userList}" var="user">
                    <li class="clearfix">
                        <a href="toProfile.do?uid=${user.uid}" class="hot-user-image"><img src="${user.headUrl}"></a>
                        <a href="toProfile.do?uid=${user.uid}" class="hot-user-name">${user.username}</a>
                    </li>
                </c:forEach>
            </ul>
        </div>

    </div>
</div>
<div th:include="footer :: footer"></div>
</body>
</html>